<div class="container flexbox ">

  <div class="dog-photo">
    <%= cl_image_tag @dog.picture.key, height: 500, width: 400, crop: :fill %>
  </div>

  <div class="show-info">
    <div class="dog-info">
      <ul>
        <li class="dog-name"><strong>Nom: <%= @dog.name %></strong></li>
        <li>Taille: <%= @dog.size %></li>
        <li>Race: <%= @dog.breed %></li>
        <li>Prix de la promenade: <%= @dog.rate %>€/heure</li>
        <li>Description de notre toutou: <%= @dog.description %></li>
      </ul>
    </div>
  <br>
    <div class="card-owner">
      <%= cl_image_tag @dog.owner.picture.key, crop: :fill %>
      <div class="card-owner-infos">
        <h2><%= @dog.owner.name %></h2>
        <p><%= @dog.owner.description %></p>
      </div>
    </div>
  <br>
    <%= link_to "On part en balade ?", new_dog_walk_path(@dog), class: "btn btn-success" %>
     <br>
     <br>
    <%= link_to "Les autres chiens près de chez vous", dogs_path, class: "btn btn-primary" %>
  </div>
</div>
