<div class="container">
  <div class="row justify-content-center">
    <h1 class="padding">On part en balade !</h1>
  </div>
  <br>
  <div class="row justify-content-left padding-left image-dog">
      <%= cl_image_tag @dog.picture.key, class: "image-dog", height: 300, width: 300, crop: :fill %>
        <ul>
          <h2>Mon toutou</h2>
          <div class="dog-name h4 orange-text"><%= @dog.name %></div>
          <li p><%= @dog.size.capitalize %> <%= @dog.breed %></li p>
          <li><%= @dog.description %></li>
          <div class="price-orange mt-3">
        <div><%= @dog.rate %></div>
        <div class="price-orange-currency">€/h</div>
        </div>
        </ul>
  </div>
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3 justify-content-left>Choisissez l'horaire de votre balade</h3>
      <%= simple_form_for [@dog, @walk] do |f| %>
        <%= f.input :date_time %>
        <%= f.submit "C'est parti !", class: 'btn btn-primary' %>
      <% end %>
     </div>
  </div>
</div>
