<% @my_dog_walks.each do |my_dog_walk| %>
  <% if my_dog_walk.status == "pending" %>
    <div class="walk-request container text-center">
      <h2 class="walk-request-title"><%= my_dog_walk.user.name %> veut promener <%= my_dog_walk.dog.name %> !</h2>
      <h4 class="my-3">le <%= I18n.l my_dog_walk.date_time, format: :long, locale: :fr %></h4>
      <div class="user-card-request container d-flex justify-content-center col-6 my-4">
        <%= cl_image_tag my_dog_walk.user.picture.key, class: "avatar-rounded background-grey", height: 200, width: 200, crop: :fill  %>
        <div class="container text-left mx-3 col-7 background-light">
          <p class="user-card-request-name"><%= my_dog_walk.user.name %></p>
          <p><%= my_dog_walk.user.description %></p>
        </div>
      </div>
      <p><%= my_dog_walk.user.name %> attend impatiemment votre retour !</p>
      <div class="m-2 flex-column">
        <%= link_to "Accepter", accept_walk_path(my_dog_walk), method: :patch, class: "btn btn-primary mx-1" %>
        <%= link_to "Refuser", deny_walk_path(my_dog_walk), method: :patch, class: "mx-1" %>
      </div>
    </div>
  <% end %>
<% end %>
