<div class="container d-flex justify-content-between">
  <% @dogs.each do |dog| %>
    <div class="card-trip">
      <%= cl_image_tag dog.picture.key, crop: :fill %>
      <div class="card-trip-infos">
        <div>
          <h2><%= dog.name %></h2>
          <p><%= dog.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= dog.rate %> €</h2>
        <%= cl_image_tag dog.owner.picture.key, height: 50, width: 50, crop: :fill  %>
      </div>
       <%= link_to "Supprimer le profil", dog_path(dog), method: :delete, data: { confirm: "Êtes-vous sûr(e) de vouloir supprimer le profil de #{dog.name} ?"}  %>
       <%= link_to "Modifier les infos", edit_dog_path(dog), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
