
<% @my_dog_walks.each do |my_dog_walk| %>
  <div class="card-dog-walk-wrapper">
    <div class="card-dog-walk my-3">
      <%= cl_image_tag my_dog_walk.user.picture.key, crop: :fill %>
      <div class="card-dog-walk-infos-wrapper d-flex justify-content-between">
        <div class="card-dog-walk-infos">
          <h2><%= I18n.l my_dog_walk.date_time, format: :long, locale: :fr %></h2>
          <p>Avec<strong><%= my_dog_walk.user.name %></strong></p>
          <p><strong><%= my_dog_walk.dog.name %></strong></p>
        </div>
        <div class="card-dog-walk-infos">
          <p class="text-left"><%= link_to "Annuler la promenade", cancel_walk_path(my_dog_walk) %></p>
          <h2 class="card-price text-left"><%= my_dog_walk.dog.rate %> €/h</h2>
        </div>
      </div>
    </div>
  </div>
<% end %>
