<% @walks.each do |walk| %>
  <div class="card-dog-walk-wrapper">
    <div class="card-dog-walk my-3">
      <%# Pour n'afficher que les promenades futures ou passées %>
      <%# Si la date_time est passée %>
      <% if walk.date_time < DateTime.now %>
        <%= cl_image_tag walk.dog.picture.key, crop: :fill %>

        <div class="card-dog-walk-infos-wrapper d-flex justify-content-between">
          <div class="card-dog-walk-infos">
            <%# Nom du chien %>
            <h2><%= walk.dog.name %></h2>
            <%# C'était le ... %>
            <p>C'était le <%= I18n.l walk.date_time, format: :long, locale: :fr %></p>
          </div>

          <div class="card-dog-walk-infos card-dog-walk-infos-right">
            <% if walk.status == "accepted"  %>
                <span class="badge badge-success badge-accepted"><%= "Acceptée" %></span>
              <% elsif walk.status == "denied" %>
                <span class="badge badge-danger badge-refused"><%= "Refusée" %></span>
              <% elsif walk.status == "cancelled" %>
                <span class="badge badge-secondary badge-cancelled"><%= "Annulée" %></span>
              <% else %>
                <span class="badge badge-warning badge-pending"><%= "En attente" %></span>
              <% end %>
            <h2 class="card-dog-walk-price text-left "><%= walk.price %><span class="card-dog-walk-price-currency"> €/h</span></h2>
          </div>
        </div>

        <%# Si la date_time est à venir %>
        <% else %>

        <%= cl_image_tag walk.dog.picture.key, crop: :fill %>
          <div class="card-dog-walk-infos-wrapper d-flex justify-content-between">
            <div class="card-dog-walk-infos">
              <%# Nom du chien %>
              <h2><%= walk.dog.name %></h2>
              <%# C'était le ... %>
              <p>Ce sera le <%= I18n.l walk.date_time, format: :long, locale: :fr %></p>
            </div>

            <div class="card-dog-walk-infos card-dog-walk-infos-right">
              <% if walk.status == "accepted"  %>
                <span class="badge badge-success badge-accepted"><%= "Acceptée" %></span>
              <% elsif walk.status == "denied" %>
                <span class="badge badge-danger badge-refused"><%= "Refusée" %></span>
              <% elsif walk.status == "cancelled" %>
                <span class="badge badge-secondary badge-cancelled"><%= "Annulée" %></span>
              <% else %>
                <span class="badge badge-warning badge-pending"><%= "En attente" %></span>
              <% end %>
              <h2 class="card-dog-walk-price text-left "><%= walk.price %><span class="card-dog-walk-price-currency"> €/h</span></h2>
              <%= link_to "Annuler", cancel_walk_path(walk), method: :patch, data: { confirm: "Êtes-vous sûr(e) de vouloir annuler votre promenade avec #{walk.dog.name} ?"}, class: "link-to-cancel" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
